PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
DB_HOST=
JWT_SECRET=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
ENABLECLOUDINARY=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=